// Define variables for your color scheme

// balmoral general colors
$balmoral-yellow:    #FBC24C;
$balmoral-blue:      #358EC6;
$balmoral-red:       #FF3333;
$balmoral-green:     #50BFA5;
$balmoral-orange:    #FA672A;
$balmoral-bg-white:  #FAFAFF;
$balmoral-light-grey:#DEDEDE;
$balmoral-dark-grey: #2F2E41;
$balmoral-dark-grey-with-opacity: rgba(47, 46, 65, 0.8);
$balmoral-icons:     $balmoral-dark-grey;

// balmoral tribe colors
$tribe-orange:   #FA672A;
$tribe-green:    #2CB3AF;
$tribe-violet:   #6D62D0;
$tribe-carmine:  #9B1515;
$tribe-asparagus:#6CA02F;
$tribe-indigo:   #164a66;
$platform:       #B4B4B4;
